@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #222527;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #646d64;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem;
  
}

main {
  background: #313639;
  padding: 2rem;
  border-radius: 1.5rem;
}

h1 {
  text-transform: capitalize;
  font-size: 24px;
  padding-bottom: 3rem;
}

.container {
  padding: 20px;
  background: navy;
}

.course-card {
  height: 200px;
  border: 2px solid black;
  
}


